.submit {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(4, 46, 124);
    margin-right: 30px;
}

.submit:hover {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: rgb(4, 46, 124);
    border: 1px solid rgb(4, 46, 124);
    margin-right: 30px;
}