.basit {
    display: inline-block;
    width: 31%;
    height: 42px;
    border-radius: 5px;
}

.basit2 {
    display: inline-block;
    width: 31%;
    margin-left: 20px;
    height: 42px;
    border-radius: 5px;
}

.link_css {
    width: 100%;
    padding: 8px 10px;
    display: block;
    color: black;
    border-bottom: 1px solid lightgray;
}

.link_css:hover {
    background: seagreen;
    color: white;
}

#table_data {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    width: 100%;
}

#table_data td,
#table_data th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table_data th {
    background: #34495E;
    color: white;
}

#generate {
    height: 35px;
    width: 110px;
    margin-left: 15px;
    color: white;
    background: #34495E;
    border: 1px solid #34495E;
    border-radius: 10px;
}

#date {
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #34495E;
    background: white;
}

#print {
    height: 35px;
    float: right;
    margin-right: 40px;
    width: 110px;
    margin-top: 17px;
    background: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    color: white;
}

@media print {
    #generate {
        display: none;
    }
    #top {
        display: none;
    }
    #date {
        display: none;
    }
    #search_suggest {
        display: none;
    }
    #top {
        display: none;
    }
    h3 {
        visibility: visible;
    }
    #table_data {
        visibility: visible;
    }
    #table_data td,
    #table_data th {
        visibility: visible;
    }
    #print_div {
        visibility: visible;
        margin: 0px;
        padding: 0px;
    }
    #print {
        display: none;
    }
}